<!DOCTYPE html>

<html lang="en">
	<head>
		<% include ./partials/head.ejs %>
	</head>

	<body>
    	<header>
    		<% include ./partials/header.ejs %>
    	</header>
        <main>
            <div class="container">
		        <h1>Create Poll</h1>
		     
		       	<div class="row">
		       		<div class="col-md-6">
	       			 <form action="/poll?id=<%= poll && poll._id %>" method="post">
                            <label for="question">Question</label>
                            <input type="text" value='<%= poll && poll.question%>'
                            class="form-control" id="question" name="question" placeholder="Enter poll question">
                       
                            <label for="choices">Choices</label>
                             <%
                             	var choice=(poll && poll.choices)?poll.choices:null
                                var choiceCount=choice?choice.length:2;
                                
                             %>
                             
	                         <% for (var i = 0; i < choiceCount; i++) {%>
	                         
	                            <input type="text" value='<%=choice && choice[i]%>'
	                            class="form-control" id="choice[<%= i %>]" name="choice[<%= i %>]" placeholder="Enter choice <%= i+1 %>">
	                            <br/>
                            <% } %>
                        <hr>
                        <button type="submit" class="btn btn-primary" id="test">Save</button>
                    </form>
		       		</div>
		       </div>
		    </div>
        </main>
	</body>
	
    	
   	<% include ./partials/mainscripts.ejs %>

</html>
