<!DOCTYPE html>

<html lang="en">
	<head>
		<% include ./partials/head.ejs %>
	</head>

	<body>
    	<header>
    		<% include ./partials/header.ejs %>
    	</header>
        <main>
            <div class="container">
		        <h1>Vote!</h1>
				<div class="row">
					<div class="col-md-8">
						<div class="panel panel-default">
							<div class="panel-body">
								
									<h3 style='display:table-cell;width:100%;'> <%= poll.question %></h3>
									
									<a class='btn btn-info btn-block' style='display:table-cell;width:100px;'
				                	href="https://twitter.com/intent/tweet?url=<%= shareUrl %>&text=<%= poll.question %>"
				                	target="_blank">
				                		<i class='fa fa-twitter'>
				                			Share
				                		</i>
				                	</a>
		                	
						 <form action="/vote?id=<%= poll && poll._id %>" method="post">
				     	   <fieldset <%= hasvoted?'disabled':'' %>>
						       <% poll.choices.forEach(function(choice,idx){%>
						    	   <input type='radio' id='choice[<%= idx %>]' required name='choice' value='<%= choice._id %>'>
						    	   <label for='choice[<%= idx %>]'><%= choice['choice'] %></label>
									<br/>
						       <% }) %>
						       
						       <% if(isLoggedIn){ %>
						       <input type='radio' id='choice[<%= poll.choices.length %>]' name='choice' value='0'>
					    	   <label for='choice[<%= poll.choices.count  %>]'>Custom Option</label>
						       <input type=text id='customchoice' name='customchoice' class=''>
						       <% } %>
						      </fieldset>
						       	  <hr>
						       	   <% if (hasvoted){%>
						       	   <span>You have already voted for this poll</span><br/>
						       	   <% } else { %>
			                	<button type="submit" class="btn btn-success" id="btn-vote btn-block">Vote!</button>
				                
				                <% } %>
				                <% if(poll && (poll.createdby.toString()===userId.toString())){ %>
                        <a class='btn btn-danger pull-right' onclick='deletePoll();'>&nbsp;
                        	<i class='fa fa-trash-o'></i>
                        	Delete</a>
                        <% } %>
				                
		                	
		          	  	</form>
							</div>
						</div>
				
					</div>
					<div class="col-md-4">
						<div style='width:300px;height:300px;' >
					     <canvas id="votes-chart" ></canvas>
					     </div>
					</div>
				</div>     
		     </div>
        </main>
	</body>
	
    	
   	<% include ./partials/mainscripts.ejs %>
  <script src="/chart.js/dist/Chart.min.js"></script>
	<script type="text/javascript" src="common/ajax-functions.js"></script>
	<script>
		function deletePoll(){
			
			if(confirm('Are you sure you would like to delete this poll? YOU CANNOT REVERT THIS ACTION'))
			{
				ajaxFunctions.ajaxRequest('DELETE', '/poll?id=<%= (poll && poll._id) %>', function (data) {
			        window.location.replace(window.location.protocol + "//" + window.location.host + '/home');
			      });
			}
			
		}


  var data =<%- JSON.stringify(poll)%>;

  var chartData=data.choices.map(function(c){
  	return c.votecount
  });
  var dataLabel= data.choices.map(function(c) {return c.choice;})
  var dataColor=data.choices.map(function(c){
  	return 'rgb(' + Math.floor(Math.random()*255) + ',' + Math.floor(Math.random()*255) + ',' +Math.floor(Math.random()*255) + ')'; 
  })

  	var ctx = document.getElementById("votes-chart");
Chart.defaults.global.legend.position='bottom';
  	var chartInstance = new Chart(ctx, {
    type: 'pie',
    data:{ datasets:[{data:chartData,backgroundColor:dataColor, label:'Vote'}],
    		labels:dataLabel}
	});
  </script>
  
</html>

